{% extends 'base.html' %}
{% block content %}
    <h2>Blog by {{ author.name }} {{ author.surname }}</h2>
    <ul class="list-group list-group-flush">
    {% if posts %}
        {% for post in posts %}
          <li class="list-group-item">
            <div class="card w-50 mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body }}</p>
                <a href={{ url_for('posts_app.post', auth_id=author.id, post_id=post.id) }} class="btn btn-primary">To post</a>
                {% if current_user.is_authenticated and current_user.id == author.id%}
                    <form method="POST"><button class="btn btn-primary" formaction={{ url_for('authors_app.post_delete', user_id=author.id, post_id=post.id) }}>Delete post</button></form>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
    {% else %}
        No posts
    {% endif %}
    </ul>
    {% if current_user.is_authenticated and current_user.id == author.id%}
        <h1>Create post</h1>
        <form method="POST">
            {{ form.errors }}
            {{ form.title.label }} {{ form.title(class="form-control") }}
            {{ form.body.label }} {{ form.body(class="form-control") }}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    {% endif %}
{% endblock %}