{% extends "base.html" %}
{% block content %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="card w-50 mb-3">
          <div class="card-body">
            <h5 class="card-title">Blog by author</h5>
            <p class="card-text">With blog about big stars</p>
            <a href={{ url_for('authors_app.author') }} class="btn btn-primary">To posts</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="card w-50 mb-3">
          <div class="card-body">
            <h5 class="card-title">Blog by author</h5>
            <p class="card-text">With blog about big stars</p>
            <a href={{ url_for('authors_app.author') }} class="btn btn-primary">To posts</a>
          </div>
        </div>
      </li>
    </ul>
{% endblock %}